<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCHOOL</title>
</head>

<body>
    <div>
        <h1>WELCOME TO MY SCHOOL'S HOMEPAGE</h1>
    </div>
    <br>
    <div>
        <a href="students">Student</a>
        <a href="teachers">Teacher</a>
        <a href="subjects">Subject</a>
    </div>
</body>

</html>