<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEACHER</title>
</head>

<body>
    <h1>ADD TEACHER</h1>
    <h5><a href="/teachers">Show All Teachers</a></h5>
    <br>
    <form action="/teachers/add" method="POST">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="first_name" value="" placeholder="Enter teacher's first name">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="last_name" value="" placeholder="Enter teacher's last name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="" placeholder="Enter teacher's email">
        </div>
        <div>
            <label for="subject">Subject</label>
            <select name="SubjectId">
                <% subjects.forEach(subjects => { %>
                <option value=<%=subject.id %>>
                    <%= subject.subject_name %>
                </option>
                <% }) %>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>